html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

.floating { 
    position: absolute;
	z-index: 5;
	left: 2%;
	top: 2%;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

.select-style select{
	height: 34px;
	width: 240px;
}

.legend {
	top: 85%;
	left: 2%;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
}

#gradientGrid {
	height: 25px;
	width: 250px;
	background-image: 
	linear-gradient(to right, 
	#f02b00,
	#f02f00,
	#f13200,
	#f13600,
	#f13a00,
	#f23d00,
	#f24100,
	#f24500,
	#f34900,
	#f34c00,
	#f45000,
	#f45400,
	#f45800,
	#f55c00,
	#f55f00,
	#f56300,
	#f66700,
	#f66b00,
	#f66f00,
	#f77300,
	#f77600,
	#f77a00,
	#f87e00,
	#f88200,
	#f88600,
	#f98a00,
	#f98e00,
	#fa9200,
	#fa9600,
	#fa9a00,
	#fb9e00,
	#fba200,
	#fba600,
	#fcaa00,
	#fcae00,
	#fcb200,
	#fdb600,
	#fdba00,
	#fdbe00,
	#fec200,
	#fec600,
	#feca00,
	#ffce00,
	#ffd200,
	#ffd601,
	#ffda01,
	#ffde01,
	#ffe202,
	#ffe502,
	#ffe902,
	#ffed03,
	#fff103,
	#fff503,
	#fff804,
	#fffc04,
	#feff04,
	#faff05,
	#f7ff05,
	#f3ff06,
	#efff06,
	#ebff06,
	#e8ff07,
	#e4ff07,
	#e0ff07,
	#ddff08,
	#d9ff08,
	#d5ff08,
	#d2ff09,
	#ceff09,
	#caff09,
	#c7ff0a,
	#c3ff0a,
	#c0ff0a,
	#bcff0b,
	#b9ff0b,
	#b5ff0c,
	#b1ff0c,
	#aeff0c,
	#aaff0d,
	#a7ff0d,
	#a3ff0d,
	#a0ff0e,
	#9cff0e,
	#99ff0e,
	#96ff0f,
	#92ff0f,
	#8fff0f,
	#8bff10,
	#88ff10,
	#84ff10,
	#81ff11,
	#7eff11,
	#7aff12,
	#77ff12,
	#74ff12,
	#70ff13,
	#6dff13,
	#6aff13,
	#66ff14,
	#63ff14);
}

.value {
	display: flex;
	justify-content: space-between
}

.left {
	align-items: left;
}

.right {
	align-items: right;
}

a {
	font-size: 14px;
	font-family:Roboto,sans-serif;
}